i {
    margin-right: 5px;
}

.imgs {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
    margin-left: 0px;
    border: 1px solid black;
}

.imgIn {
    height: 60px;
    width: 60px;
    margin-left: 10px;
}

.home-content {
    position: absolute;
    height: 100%;
    width: calc(100%- 240px);
    left: 300px;
}

h1 {}

h3 {
    font-weight: 600;
}

.line {
    padding-top: 30px;
    width: 24em;
    border-right: 2px solid black;
    font-size: 150%;
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
}

.anim-typewriter {
    animation: typewriter 4s steps(40) 1s 1 normal both,
        blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 24em;
    }
}

@keyframes BlinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}