i {
    margin-right: 5px;
}

.imgs {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
    margin-left: 0px;
    border: 1px solid black;
}

.imgIn {
    height: 60px;
    width: 60px;
    margin-left: 10px;
}

.home-content {
    position: absolute;
    height: 100%;
    width: calc(100%- 240px);
    left: 300px;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 500;
}